@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
  --primary-color:rgba(0,104,200,1);
  --secondary-color:rgba(221,40,49,1);
  --black:#000;
  --white:#fff;
  --yellow:#ffc904;

  --transition-regular:0.3s;
  --transition-slow:0.6s;

  --Bricolage-font:"Bricolage Grotesque",sans-serif;
  --plus-jakarta-font:"plus jakarta Sans",sans-serif;
}
.bg-element{
  position: relative;
}
.bg-element::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 200px;
  background-color: var(--yellow);
  z-index: -1;
  filter: blur(250px);
}

.bg-element::before{
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 200px;
  background-color: var(--yellow);
  z-index: -1;
  filter: blur(250px);
}
.hero-bg{
  height: 100vh;
  width: 100%;
  background-image:url(assets/hero-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.hero-image img{
   width: 75%;
   height: 100%;
}
.hero-image img2{
   width: 75%;
   height: 50%;
}
.hero-content h1{
   opacity: 0;
  animation: Anim-fade-bottom var(--transition-regular) 0.6s forwards linear;
}
.hero-content h5{
  opacity: 0;
  animation: Anim-fade-bottom var(--transition-regular) 0.9s forwards linear;
}
.hero-content .hero-span{
  opacity: 0;
  animation: Anim-fade-bottom var(--transition-regular) 1.1s forwards linear;
}
.hero-content button{
  opacity: 0;
  animation: Anim-fade-bottom var(--transition-regular) 1.2s forwards linear;
}
.hero-image{
  opacity: 0;
  animation: Anim-fade-bottom var(--transition-regular) 1.5s forwards linear;
}

@keyframes Anim-fade-bottom{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  
}

@media (max-width:1199px){
  .middle-nav{
    flex-wrap: wrap;
  }
  .get-help{
    width: 100%;
    justify-content: start;
  }
  .nav-menu{
    width: 60%;
  }
}
@media (max-width:991px){
  .middle-nav{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
  .product-search{
    width: 100% ;
  }

}

@media(max-width:1399px){
  .hero-content h1{
    font-size:6rem;
  }
}
@media (max-width:1199px){
  .middle-nav{
    flex-wrap: wrap;
  }
  .get-help{
    width: 100%;
    justify-content: start;
  }
  .nav-menu{
    width: 60%;
  }
}
@media (max-width:991px){
  .middle-nav{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
  .product-search{
    width: 100%;
  }
}
@media (max-width:767px){
  .hide{
    display: none !important;
  }
}
@media (max-width:575px){
  .hide{
    display: none !important;
  }
  .product-search select{
    width: 50%;
  }
  .nav-menu li a{
    font-size: 1rem;
  }
  .top-nav{
    flex-direction: column;
  }
  .top-nav{
    align-items: start;
    justify-content: start;
    text-align: start;
  }
  .top-nav ul{
    width: 100%;
    justify-content: start;
  }
  .top-nav ul{
    margin-top: 20px;
  }
}
@media (max-width:575px){
  .banner-1{
    background-size: 800%;
    background-repeat: no-repeat;
  }
}

/* footer */
footer{
  background-color:rgba(255,255,255,.8);
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.footer::after{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-image: url(assets/footer-bg.png);
  filter: invert(100%);
  z-index:-1;
}